
body {
  padding: 10px;
  margin: 10px;
  background-color: #333;
  color: white;
  font-family: helvetica;
  font-size: 4;
}

#messages {
  height: 400px;
  width:  600px;
  overflow: auto;
  background-color: #000;
  color: #ddd;
}

#log {
  background-color: #fff;
  color: #000;
  height: 100px;
  width:  600px;
}

.roomName {
  color: #aaeeaa;
  font-size: 12;
}
.roomDesc {
  color: #ccc;
}
.actorName {
  color: #aaaaee;
}
.exitName {
  color: #aaffff;
}
